################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OrderStatistics/OrderStatistics.vcxproj.user
