################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OrderStatistics/OrderStatistics.vcxproj.user
/OrderStatistics/OrderStatistics.vcxproj.filters
/OrderStatistics/OrderStatistics.vcxproj
/OrderStatistics/OrderStatistics.sln
/OrderStatistics/.vs/OrderStatistics/v16
/.vs
/OrderStatistics/Debug
